body{
    height: 3000px;
    background-color: #eee;
}
.darkmode{
    background-color: #000000;
    color: #eee;
}
html,body{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 0.5 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    box-shadow: 0px 5px 100px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #eee;
    z-index: 1000;
}
.navbar .form{
    position: absolute;
    top: 6rem;
    right: -25rem;
    text-align: center;
    padding: 2rem 1rem;
    border:2px solid rgba(0, 255, 255, 0.374);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.735);
    border-radius: 10px;
    transition: 0.4s linear;
}
.navbar .active{
    right: 2rem;
}
.navbar .form h1{
    margin-bottom:2rem ;
    color:aqua;
}
.navbar .form input{
    background-color: #eee;
    margin-bottom: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.navbar .form input[type="submit"]{
    margin-bottom: 0px;
    background-color: #ff7800;
    color: #fff;
    cursor: pointer;
}
.navbar .form input[type="submit"]:hover{
    background-color: #ff7700e0;
}
.logo{
    margin-right:20px;
    font-size: 2rem;
}
.logo a{
    color: var(--orange);
    text-decoration: none;
}
.nav-link{
    flex: 1;
}
.nav-link ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
li{
    list-style: none;
}
.nav-link ul li a{
    text-decoration: none;
    color: var(--orange);
    font-size: 1.2rem;
    position: relative;
}
.nav-link ul li a::after{
    position: absolute;
    content:'';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
    background-color:var(--orange);
}
.nav-link ul li a:hover::after{
    width: 100%;
}


.nav-btn .contact-btn{
    background-color: var(--orange);
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#darkmode-icon{
   font-size: 1.5rem;
   cursor: pointer;
   color: black;
}
#menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 720px){
    .nav-link{
        position: absolute;
        top: 6rem;
        right: -11rem;
        backdrop-filter: blur(10px);
        padding: 2rem;
        border-radius: 10px;
        transition: 0.3s linear;
        border: 2px solid rgba(0, 255, 255, 0.311);
        box-shadow:inset 0 0 20px aqua;
    }
    .nav-link ul{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;   
    }
    #menu-icon {
        display: block;
    }
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    padding: 20px 100px;
}
.heading .desciption {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.heading .desciption h1{
    font-size: 4rem;
}
.heading .desciption h2{
    font-size: 3rem;
}
.heading .desciption p{
    font-size: 2rem;
}
.heading .profile-pic img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid aqua;
    box-shadow: 2px 20px 100px rgba(4, 177, 240, 0.719);
    flex: 1;
    animation: floatImg 5s infinite;

}
@keyframes floatImg{
 0%{
    transform: translateY(0);
 }
 50%{
    transform: translateY(-2.4rem);
 }
 100%{
    transform: translateY(0);
 }
}
.heading .contact-logo i{
    font-size: 2.5rem;
    cursor: pointer;
}
.heading .heading-btn button a{
    text-decoration: none;
    color: #eee;
}
.heading .heading-btn button{
    cursor: pointer;
    padding: 7px 10px;
    background-color: var(--orange);
    border-radius: 10px;
    border: none;
    color: #eee;
    font-size: 1.2rem;
    box-shadow: var(--box-shadow);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 70%;
}
.about-me h2{
    text-align: center;
}
span{
    color: var(--orange);
}
.my-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.about-me .my-picture img{
    width: 260px;
    height: 350px;
    border: 2px solid aqua;
    box-shadow: 0 0 20px aquamarine;
}
.about-me .about-me-text{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 1rem;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.skill-text h1{
    text-align: center;
}
.language-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.language-logo img{
    height: 200px;
}
.achievement{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.achievement-text h1{
    text-align: center;
}
.card {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid blueviolet;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 100%;
    height: 150px;
}
.card h2{
    text-align: center;
}
.card p{
    margin: 10px;
}
.card button{
    padding: 5px 20px;
    background-color: #ff7800;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}
.group-card{
    width: 80%;
    display: flex;
    gap: 10px;
}
.group-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer{
    margin-top: 3rem;
    text-align: center;
}
@media only screen and (max-width: 826px) {
    .heading .desciption{
        text-align: center;
        order: 2;
    }
    .heading .desciption h1{
        font-size: 2rem;
    }
    .heading .desciption h2{
        font-size: 2rem;
    }
    .heading .desciption p{
        font-size: 1.5rem;
    }

    .heading{
        flex-direction: column;
    }
    
    .heading .profile-pic img{
        width: 300px;
        height: 300px;
    }
    .about-me {
        flex-direction: column;
        text-align: center;
    }
    .about-me .my-picture img {
        margin: 0 auto; 
    }
    .about-me .about-me-text {
        align-items: center;
    }
    .group-card{
        grid-template-columns: 1fr 1fr;
    }
    .language-logo{
        grid-template-columns: 1fr 1fr;
    }
}


